*{
    margin:0;
    padding:0;
}


header{
    display:grid;
    border-bottom:3px solid black;
    justify-content: center;
    align-content: center;
    height:100px;
    background-color: rgb(90, 42, 42);
    color:whitesmoke;
}

#nagy-grid-container{
    display:grid;
    grid-template-columns: 20% 60% 20%;
}

nav ul li a{
    width: 100%;
    text-decoration: none;
    background-color: darkslategray;
    color:darkkhaki;
    font-weight: bold;
    padding:5px;
    font-size: 16pt;

}


nav ul li a:hover{
    background-color: darkkhaki;
    color:darkslategray;
    transition:.3s;
}

nav ul {
    display: grid;
    padding: 5px;
    border:2px solid black;
    margin:5px;
    gap:3px;
    list-style: none; /* bulletpointokat leszedi*/
    justify-items: stretch;
    background-color:dimgray;
    border-radius: 5px;
}

nav ul li {
    color:red;
}

main {
    display:grid;
    grid-template-columns: 500px;
    justify-content:center;
    row-gap: 5px;
    margin-top:10px;
}

main .maindiv{
    display:grid;
    grid-template-columns: 100px 400px;
    border: 1px black solid;
}

main .maindiv h2, main .maindiv p{
    grid-column-end: span 2;
}

main .maindiv div{
    justify-self:end;
}

select{
    justify-self:start;
}






